@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}
/* Nicer slim scrollbars */
.nice-scroll {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,.25) transparent;
}

/* Chrome/Edge/Safari */
.nice-scroll::-webkit-scrollbar {
  width: 8px;
}
.nice-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.nice-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.25);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}
/* App backdrop */
body {
  background-color: #F9FAFB; /* Tailwind's gray-50 */
}

